

<div class="form-inline">
    <div class="form-group mb-2">
        <div class="row">
            <label class="mr-2">Filtro (nome e região):</label>
            <div class="col-sm-9">
                <input type="text" 
                class="form-control" 
                placeholder="buscar"
                [(ngModel)]="filterList"
                >
            </div>
        
        </div>
    </div>
</div>


<!--table.table.table-striped>(thead.thead-dark>tr>th*8)-->
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                
                <!--
                    chamando direto 
                    <button type="button" (click)="showImg = !showImg"  class="btn btn-light btn-sm">Exibir</button>
                -->

                <!-- chamando pelo metodo no ts-->
                <button type="button" (click)="showImageWithMethod()"  class="btn btn-light btn-sm">
                {{showImg ? 'Ocultar Imagem' : 'Exibir Imagem'}}    
                    
                
                </button>
                
             
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <!--tbody>tr>td*8-->
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td>
               <!-- definindo tamanho direto no html
                <img src="/assets/{{evento.imagemURL}}" 
                [style.width.px]="50"
                [style.margin.px]="2"
                >-->

                <!-- usando ng
                <img *ngIf="showImg" src="/assets/{{evento.imagemURL}}" 
                    [style.width.px]="widthImg"
                    [style.margin.px]="marginImg"
                >-->

                <!--usando collapse-->
                <img [collapse]="!showImg" 
                        [isAnimated]="true"
                src="/assets/{{evento.imagemURL}}" 
                [style.width.px]="widthImg"
                [style.margin.px]="marginImg"
            >
                </td>
            <td>{{evento.eventoId}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qntPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" style="margin-right: 5px;">Editar</button>
                <button type="button" class="btn btn-danger btn-sm">Excluir</button>

            </td>
        </tr>
    </tbody>

  <!--  t foot>tr>[colspan=8] -->
  <tfoot *ngIf="!eventos.length">
    <tr>
        <td colspan="8" class="text-center">
            <h4>Nenhum evento encontrado!</h4>
        </td>
    </tr>
  </tfoot>

</table>
<!--{{eventos | json}} -->


<!--
<div *ngFor="let evento of eventos ">
    <p><b>Tema: </b>{{ evento.tema }}</p>
    <p><b>Local: </b>{{ evento.local }}</p>
  </div>
  -->